<style>
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins&display=swap');

  * {
    font-family: 'Poppins', sans-serif;
  }

  .page {
    background-color: aquamarine;
    min-height: calc(100vh - 50px);
    padding: 25px 50px;
  }

  .nav_content {
    display: inline-block;
    margin-bottom: 25px;
  }

  .nav_content > * {
    text-decoration: none;
    margin-right: 50px;
    font-weight: 600;
    padding: 5px;
    border-radius: 5px;
    background-color: bisque;
    border: 3px solid brown;
  }
</style>

<div class="page">
  <h1>TribeHired FrontendTest - Liew Kai Le</h1>
  <nav>
    <div class="nav_content">
      <a routerLink="/allPosts" routerLinkActive="active" ariaCurrentWhenActive="page">All Posts</a>
      <a routerLink="/post" routerLinkActive="active" ariaCurrentWhenActive="page">Single Post</a>
    </div>
  </nav>
  
  <router-outlet></router-outlet>
</div>
